.react-calendar { 
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    color: rgba(254, 139, 121);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #3535350c;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;  
    font-size: 16px;
    margin: auto;
   }


   .react-calendar__navigation button {
    color: rgba(254, 139, 121);
    min-width: 44px;
    background: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
   }

   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background: #ffefed73;
   }

   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }

   .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #ffefed73;
 color: rgba(254, 139, 121);
 border-radius: 6px;
}


.react-calendar__tile--now {
    background: #ffefed;
    border-radius: 6px;
    font-weight: bold;
    color: rgba(254, 139, 121);
   }


   .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: rgb(255, 255, 255);
 border-radius: 6px;
 font-weight: bold;
 color: rgba(254, 139, 121);
}


.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #ffefed73;
}

.react-calendar__tile--active {
    background: rgba(254, 139, 121);
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }


   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #fe8b79;
    color: white;
   }


   .SelectDate {
    color: #fe8b79;
   text-align: center;
   margin-top: 10px;
   }

   .classBox {
       margin: auto;
    width:400px;
   }