.img6{
    position: relative;
    background-image: url(https://ifh.cc/g/9hmbfj.jpg);    
  background-size: cover;
  height: 500px;
  }
  
  
  
  .img6 .a{
    position: absolute;
    top:30%;
    left:20%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:2.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  
  .img6 .d{
    position: absolute;
    top:60%;
    left:20%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight:normal;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .img6 .map {
    position: absolute;
    top:10%;
    right:3%;
  }
  
  
  
  
  .pt{
    position: relative;
    background-image: url(https://ifh.cc/g/xl8Dsn.jpg);    
  background-size: cover;
  height: 600px;
  }
  
  .pt .a{
    position: absolute;
    top:20%;
    right:35%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:2.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .pt .b{
    position: absolute;
    top:80%;
    left: 100%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: #ba8758;
    z-index: 10;
    text-align: left;
  }
  
  .pt .c{
    position: absolute;
    top:32%;
    right:20%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .pt .d{
    position: absolute;
    top:60%;
    right:15%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight:normal;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  
  .Spinnig{
    position: relative;
    background-image: url(https://ifh.cc/g/H0QsXx.jpg);    
  background-size: cover;
  height: 600px;
  }
  
  .Spinnig .a{
    position: absolute;
    top:20%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:2.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Spinnig .b{
    position: absolute;
    top:80%;
    left:110%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: #ba8758;
    z-index: 10;
    text-align: left;
  }
  
  .Spinnig .c{
    position: absolute;
    top:32%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Spinnig .d{
    position: absolute;
    top:60%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight:normal;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Pila{
    position: relative;
    background-image: url(https://sbodyworkpilates.co.kr/img/prg_i2.jpg);    
  background-size: cover;
  height: 600px;
  }
  
  .Pila .a{
    position: absolute;
    top:20%;
    right:35%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:2.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Pila .b{
    position: absolute;
    top:80%;
    right:-80%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: #ba8758;
    z-index: 10;
    text-align: left;
  }
  
  .Pila .c{
    position: absolute;
    top:32%;
    right:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Pila .d{
    position: absolute;
    top:60%;
    right:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight:normal;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Yoga{
    position: relative;
    background-image: url(https://ifh.cc/g/SJOHrm.jpg);    
  background-size: cover;
  height: 600px;
  }
  
  .Yoga .a{
    position: absolute;
    top:20%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:2.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Yoga .b{
    position: absolute;
    top:80%;
    left:110%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: #ba8758;
    z-index: 10;
    text-align: left;
  }
  
  .Yoga .c{
    position: absolute;
    top:32%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  .Yoga .d{
    position: absolute;
    top:60%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight:normal;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  h1.d:before {
    content: "";
    display: block;
    width: 45px;
    border-bottom: 5px solid #ba8758;
    margin: 40px 5px;
  }
  
  
  
  
  
  
  .programimg {
      height: 300px;
      margin-top: 40px;
  }
  .programProcess{
      height: 250px;
      margin: 5px;
  }
  
  .teacherImg{
      height: 230px;
  }
  
  
  .location{
      width: 480px;
  }
  .introImg {
      max-width: 100%;
      width: 500px;
      height: 320px;
  
      margin-top: 10px;
      opacity: 0.75;
      filter: alpha(opacity=40);
  }
  
  .testImg{
      width: 700px;
      height: 350px;
    }
    .button.btn1 {
      position: absolute;
      top: 170px;
      left : 35px; 
    }
    .button.btn2 {
      position: absolute;
      top: 85px;
      left : 95px;
    }
  
  .ptProcess{
    height: 120px;
    background-color: white;
  }
  
  .ptProcess .a1{
    position: absolute;
    top:115%;
    left:10%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.3rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  .ptProcess .a1::before {
    content: "";
    display: block;
    width: 45px;
    border-bottom: 3px solid #ffdd62;
    margin: 10px 5px;
  }
  
  .ptProcessIMG{
    height: 160px;
    background-image: url(http://hitgym.tcubemnet.com/static/front/images/pt/bg_int3.jpg);
    margin-bottom: 20px;
  }
  
  .ptProcessIMG .a1{
    position: absolute;
    top:135%;
    left:28%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  .ptProcessIMG .a2{
    position: absolute;
    top:135%;
    left:52%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  .ptProcessIMG .a3{
    position: absolute;
    top:135%;
    left:70%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  .ptProcessIMG .a4{
    position: absolute;
    top:135%;
    left:90%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  
  .homeImg1{
      position:relative;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      filter: alpha(opacity=10); 
  }
  .homeImg {
    max-height: initial;
    margin-top: -0%;
  
      max-width: 100%;
      opacity: 0.75;
      filter: alpha(opacity=40);
  }
  .cropped {
    width: max; 
    overflow: hidden;
    opacity: 0.75;
    filter: alpha(opacity=40);
    }
    
    .cropped img {
    margin: -90px -0px -300px -90px;
    }
  
  
  .homeImg1{
      width: 100%;
  }
  
  
  
  .homeButton {
      width: 100px;
      height: 100px;
      margin: 10px;
  }
  
  
  .teacher {
      max-width: 100%;
  }
  
  .BAROGYM{
      max-width: 100%;
      width: 600px;
      height: 400px;
      opacity: 0.75;
      filter: alpha(opacity=40);
  }
  
  
  .img{
      position: relative;
      background-image: url(https://www.ambatel.com/RES/PRODUCT/202103/1216x608-20_20210310101620.png);    
      height: 100vh;
      background-size: contain;     
      opacity: 0.8;
      filter: alpha(opacity=10);     
      margin: -00px -0px -200px -0px;                                              
    }
  
  
  .homeText{
       position: absolute;
       top:13%;
       left:55%;                                        
       font-size:5rem;
       font-weight: bolder;
       color: rgb(15, 15, 15);
       text-align: left;
    }
    .btn{
        background-color: rgb(52, 52, 52);
        color: rgb(255, 255, 255);
      width: 130px;
      height: 50px;
      top:18%;
    }
  
    .img2{
      position: relative;
      background-image: url(https://ifh.cc/g/wbTdHR.jpg);    
      height: 400px;
                                                
    }
  
    .content2{
      position: absolute;
      top:60%;
      left:55%;
      transform: translate(-0.1%, -70%);                                                                   
      font-size:5rem;
      color: rgb(0, 0, 0);
      z-index: 10;
      text-align: left;
   }
  
   
   .img3{
      position: relative;
      background-image: url(https://ifh.cc/g/tpJZ1c.jpg);    
      height: 400px;
                                                
    }
  
    .content3{
      position: absolute;
      top:55%;
      left:25%;
      transform: translate(-0.1%, -70%);                                                                   
      font-size:5rem;
      color: rgb(0, 0, 0);
      z-index: 10;
      text-align: left;
   }
  
   .img4{
      position: relative;
      background-image: url(https://ifh.cc/g/aHzOyL.jpg);    
      height: 500px;
                                                
    }
  
    .content4{
      position: absolute;
      top:55%;
      left:55%;
      transform: translate(-0.1%, -70%);                                                                   
      font-size:5rem;
      color: rgb(0, 0, 0);
      z-index: 10;
      text-align: left;
   }
  
  
   .more{
      background-color: rgb(100, 100, 100);
      color: rgb(255, 255, 255);
    width: 130px;
    height: 50px;
   }
  
  
   .textLink
   { text-align: center; 
      text-decoration: none; /* 링크의 밑줄 제거 */
       color: inherit; /* 링크의 색상 제거 */ }
  
      
       .img5{
          position: relative;
          background-image: linear-gradient( rgba(0, 0, 0, 0.4),
           rgba(43, 42, 42, 0.5) ),url(https://seoul.intercontinental.com/iccoex/kor/assets/img/img-facility-cosmopolitan-fitness-club02.jpg);
          height: 400px;
  ;
       }
  
       .content5{
          position: absolute;
          top:65%;
          left:60%;
          transform: translate(-0.1%, -70%);                                                                   
          font-size:5rem;
          color: rgb(255, 255, 255);
          z-index: 10;
          text-align: left;
  
       }
   
       .btn2{
          background-color: transparent;
      border-radius: 20px;
      border-color: azure;
      color: white;
      font-size:medium;
           
       }
  
  
       .h1 {
          position: relative;
          padding: 0;
          margin: 0;
          font-family: "Raleway", sans-serif;
          font-weight: 300;
          font-size: 40px;
          color: #080808;
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
        }
        
       .h1 span {
          display: block;
          font-size: 0.5em;
          line-height: 1.3;
        }
        .h1 em {
          font-style: normal;
          font-weight: 600;
        }
  
        .two h1 {
          text-transform: capitalize;
        }
        .two h1:before {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px;
          height: 4px;
          content: "";
          background-color: #ba8758;
        }
        
        .two h1 span {
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 4px;
          line-height: 3em;
          padding-left: 0.25em;
          color: rgba(0, 0, 0, 0.4);
          padding-bottom: 10px;
        }
        .alt-two h1 {
          text-align:center;
        }
        .alt-two h1:before {
          left:50%; margin-left:-30px;
        }
        
  .teachers{
    width: 600px;
  }
  
  .inside{
    width: 800px;
  }
  
  .homeIMG{
    position: relative;
    background-image: url(https://pix6.agoda.net/hotelImages/984/984193/984193_16091415470046449754.jpg);  
    width: 100%;
  
  }
  .Main h2{
    position: absolute;
    font-weight: bolder;
    top: 40%;
    left:19%;
    transform: translate(-50%, -50%);                  
                                           
    font-size: 28px;
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: left;
  }
  
  
  .Main h1{
    position: absolute;
    top:50%;
    left:19%;
    transform: translate(-50%, -50%);                                                                   
    font-size: 56px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: left;
  }
  
  
  h1.a:after {
    content: "";
    display: block;
    width: 45px;
    margin: 40px 5px;
  }
  
  
  .Main span {
    position: absolute;
    top:75%;
    left:19%;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.5em;
    padding-left: 0.25em;
    color: rgba(0, 0, 0);
    padding-bottom: 10px;
    text-align: left;
  }
  
  
  .content{
    position: absolute;
    top:50%;
    left:65%;
    transform: translate(-50%, -50%);                                                                   
    font-size:5rem;
    color: rgb(0, 0, 0);
    z-index: 2;
    text-align: left;
  }
  
  
  .homeImg2 {
    width:max-content
  }
  
  
  .gymInt{
    position: relative;
    background-image: url(https://www.thetokyostationhotel.jp/wp-content/uploads/sites/2/2019/12/Jexer-Tokyo-2-2200x700.jpg);    
    height: 650px;
    background-color: rgba(204, 192, 184);    
    background-blend-mode: multiply; 
  }
  
  
  
  .Gymcontent{
     position: absolute;
     top:60%;
     left:55%;
     transform: translate(-0.1%, -70%);                                                                   
     font-size:1rem;
     font-weight: lighter;
     color: rgb(255, 255, 255);
     z-index: 10;
     text-align: left;
  }
  
  
  .gymInt2{
    position: relative;
    background-image: url(https://i.pinimg.com/736x/1a/7d/50/1a7d507c880ccf959fa3520ab8e3ebf3.jpg);
    background-size: 450px 350px;
    background-repeat: no-repeat;
    background-position: 800px 100px;
    border: 1px solid white;
    height: 500px;
  
  
  }
  .Gymcontent2{
    position: absolute;
    top:65%;
    left:20%;
    transform: translate(-0.1%, -70%);                                                                   
    font-size:1.1rem;
    color: rgb(0, 0, 0);
    z-index: 10;
    text-align: left;
  }
  
  
  .ten h1 {
    font-size:20px; font-weight:500; text-transform:uppercase;
  }
  .ten h1:before {
      background-color: #ccc0b8;
      border-radius: 0.25rem;
      content: '';
      display: block;
      height: 0.25rem;
      width: 42px;
      margin-bottom: 0.7rem;
  }
  
  